<h2>Buy</h2>

<% sCardProducts.forEach(element => { %>
    <% let id1 =  "" + element.pId%>
    <% allProducts.forEach(product => { %>
        <% let id2 = "" + product._id %>
        <% if (id1 === id2) { %>
            <p>Name: <%= product.name %></p>
            <p>Date: <%= product.date%></p>
            <p>Quantity: <%= element.quantity%></p>
            <form method="POST" action="/deleteFromPurchase/<%= element._id %>">
                <button type="submit">delete Product</button>
            </form>
            <p>---------------------------</p>
       <% } %>
       
    <% }) %>
<% }) %>
<p>Total Value: <%= sumAll %> gold coin</p>

<form method="POST" action="/">
    <p>xxxxxxxxxxxxxxxxxxxxx</p>
    <button type="submit">Buy</button>
    <p>xxxxxxxxxxxxxxxxxxxxx</p>
</form>