<h2>Buy</h2>

<% sCardProducts.forEach(element => { %>
    <% let id1 =  "" + element.pId%>
    <% allProducts.forEach(product => { %>
        <% let id2 = "" + product._id %>
        <% if (id1 === id2) { %>
            <p>Name: <%= product.name %></p>
            <p>Date: <%= product.date%></p>
            <p>Quantity: <%= element.quantity%></p>
            <form method="POST" action="/deleteFromPurchase/<%= element._id %>">
                <button type="submit">delete</button>
            </form>
            <p>---------------------------</p>
       <% } %>
       
    <% }) %>
<% }) %>

<h3>Sent to:</h3>
<form method="POST" action="/purchase/buy">
<% if(listOfAddresses.length > 0) { %>
  
    <% listOfAddresses.forEach(element => { %>
    <fieldset>
      <p></p>
    <div>First Name: <%= element.fName  %></div>
    <div>Last Name: <%= element.lName  %></div>
    <div>Address Line: <%= element.aLine  %></div>
    <div>City: <%= element.city  %></div>
    <div>Zip/Postal Code: <%= element.zip  %></div>
    <div>Country: <%= element.country  %></div>
    <input type="radio" name="_id" value="<%= element._id %>" checked>
    
    <p></p>
  </fieldset>
  <p></p>
  <%  }); %> 
<% } else { %>
  <p>No Addresses in your Database</p>
  <a href="/addAddress">Add Adress please :-)</a>
<% } %>

<p></p>

<p>Total Value: <%= sumAll %> gold coins</p>
<p>Your Credit: <%= user.credit %> gold coins</p>
<% if ((user.credit - sumAll) < 0) {%>
    <p>Not enough Money - sry</p>
    <p>Please update your Credit.</p>
    <a href="/profile">Update your Credit</a>
    <% }else if (sCardProducts < 1){ %>
        <p>NO Products to pay for :-( </p>
    
        
    <% } else if (listOfAddresses.length < 1) { %>
        <p>where should we send the products</p>
    
    <% } else { %>
      
      <p>xxxxxxxxxxxxxxxxxxxxx</p>
      <button type="submit">Buy</button>
      <p>xxxxxxxxxxxxxxxxxxxxx</p>
      </form>
      <% } %>