<div class="product-ctn">

    <% if (typeof searchResult === 'undefined' ) { %>
        <p>No results</p>
    <% } else if (searchResult.length === 1){ %>
        <p>
            <%= searchResult.length %> result
        </p>
    <% } else { %>
        <p>
            <%= searchResult.length %> results
        </p>
    <% } %>

    <% if (typeof searchResult === 'undefined') { %>    
    <% } else { %>
        <% searchResult.forEach(product => { %>
        <div>
            <img src="<%= product.picture %>" alt="" style="height: 600px">
            <h3 class="name">
                <%= product.name %>
            </h3>
            <p class="region">
                <%= product.region %>
            </p>
            <p class="designation">
                <%= product.designation %>
            </p>
            <p class="date">
                <%= product.date %>
            </p>
            <p class="price">
                <%= product.price %>
            </p>

            <!-- <button>Add to the shopping Cart</button> -->

            <form method="POST" action="/addToSchoppingCard/fromSearchResult/<%= product.id %>">
                <div><label>Quantity: 
                    <select name="quantity">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    </select></label></div>
                <button type="submit">Add to the Shopping Cart</button>
            </form>

        </div>
        <% }) %>
    <% } %>
</div>

<a href="/search">New research</a>