<div class="main">

    <% if (searchResult.length < 3) { %>
        <% if (searchResult.length === 1) { %>
            <div class="title">
                <h1>We found <%= searchResult.length %> product</h1>
            </div>
        <% } else { %>
            <div class="title">
                <h1>We found <%= searchResult.length %> products</h1>
            </div>
        <% } %>

    <div class="product-ctn">
    
        <% if (!searchResult) { %>
            <span> No Products Yet </span>
            <% } else { %>
                <% searchResult.forEach(product=> { %>
                    <div class="product-item">
                        <form method="POST" action="/addToSchoppingCard/fromSearchResult/<%= product._id %>">
    
                            <!-- Product Data -->
                            <div class="product-data">
                                <div class="item-img-ctn">
                                    <img src="<%= product.picture %>" alt="" style="height: 600px">
                                </div>
                                <div class="item-info-ctn">
                                    <h3 class="name">
                                        <%= product.name %>
                                    </h3>
                                    <p class="date">
                                        <%= product.date %>
                                    </p>
                                    <p class="designation">
                                        <%= product.designation %>
                                    </p>
                                </div>
                            </div>
                            <div class="product-add-ctn">
                                <div class="product-price">
                                    <p class="price">
                                        <%= product.price %>€
                                    </p>
                                </div>
                                <!-- Quantity Selector -->
                                <div class="product-cmds">
                                    <div class="qty-ctn">
                                        <label>
                                            <select class='qty-selector' name="quantity">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                        </label>
                                    </div>
    
                                    <!-- Button Add to Cart -->
                                    <div class="btn-ctn">
                                        <button class='btn' type="submit">Add</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <% }) %>
                        <!-- End ForEach loop -->
                        <% } %>
                            <!-- End Else Statment-->
    </div>
    <% } else { %>
    <div class="title">
        <h1>We found <%= searchResult.length %> products</h1>
    </div>
    <div class="product-grid">
    
        <% if (!searchResult) { %>
            <span> No Products Yet </span>
            <% } else { %>
                <% searchResult.forEach(product=> { %>
                    <div class="product-item">
                        <form method="POST" action="/addToSchoppingCard/<%= product._id %>">
    
                            <!-- Product Data -->
                            <div class="product-data">
                                <div class="item-img-ctn">
                                    <img src="<%= product.picture %>" alt="" style="height: 600px">
                                </div>
                                <div class="item-info-ctn">
                                    <h3 class="name">
                                        <%= product.name %>
                                    </h3>
                                    <p class="date">
                                        <%= product.date %>
                                    </p>
                                    <p class="designation">
                                        <%= product.designation %>
                                    </p>
                                </div>
                            </div>
                            <div class="product-add-ctn">
                                <div class="product-price">
                                    <p class="price">
                                        <%= product.price %>€
                                    </p>
                                </div>
                                <!-- Quantity Selector -->
                                <div class="product-cmds">
                                    <div class="qty-ctn">
                                        <label>
                                            <select class='qty-selector' name="quantity">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                        </label>
                                    </div>
    
                                    <!-- Button Add to Cart -->
                                    <div class="btn-ctn">
                                        <button class='btn' type="submit">Add</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <% }) %>
                        <!-- End ForEach loop -->
                        <% } %>
                            <!-- End Else Statment-->
    </div>
    <% } %>

    <div class="search-redirect">
        <a href="/search">New research</a>
    </div>
    
</div>