<div class="main-ctn">
    <div class="search-ctn">
        <div class="sub-title">
            <h2>What are you looking for ?</h2>
        </div>

        <form id="search-form" method='POST' action="/search">
            <div class="field region-field">
                <label for="">
                    <select name="region" id="region">
                            <option value="">Region</option>
                        <% regionsArr.forEach(region=> { %>
                            <option value="<%= region %>">
                                <%= region %>
                            </option>
                            <% }) %>
                    </select>
                </label>
            </div>
            <div class="field date-field">
                <label for="">
                    <select name="date" id="date">
                            <option value="">Date</option>
                        <% datesArr.forEach(date=> { %>
                            <option value="<%= date %>">
                                <%= date %>
                            </option>
                            <% }) %>
                    </select>
                </label>
            </div>
            <div class="field designation-field">
                <label for="">
                    <select name="designation" id="designation">
                        <option value="">Designation</option>
                        <% designationsArr.forEach(designation=> { %>
                            <option value="<%= designation %>">
                                <%= designation %>
                            </option>
                            <% }) %>
                    </select>
                </label>
            </div>
            <div class="field type-field">
                <label for="">
                    <select name="type" id="type">
                            <option value="">Type</option>
                        <% typesArr.forEach(type=> { %>
                            <option value="<%= type %>">
                                <%= type %>
                            </option>
                            <% }) %>
                    </select>
                </label>
            </div>
            <div class="search-btn">
                <button class="btn" type="submit">Search</button>
            </div>
        </form>
    </div>
</div>