<h2>Your Shopping Card</h2>

<% sCardProducts.forEach(element => { %>
    <% let id1 =  "" + element.pId%>
    <% allProducts.forEach(product => { %>
        <% let id2 = "" + product._id %>
        <% if (id1 === id2) { %>
            <p>Name: <%= product.name %></p>
            <p>Date: <%= product.date%></p>
            <p>Region: <%= product.region%></p>
            <p>Quantity: <%= element.quantity%></p>
            <form method="POST" action="/deleteFromShoppingCard/<%= element._id %>">
                <button type="submit">delete Product</button>
            </form>
            <p>---------------------------</p>
       <% } %>
       
    <% }) %>
<% }) %>

<% if(sCardProducts.length >= 1 ) {%>
    <p>Total Value: <%= sumAll %> gold coins</p>
    <form method="get" action="/purchase">
        <p>xxxxxxxxxxxxxxxxxxxxx</p>
        <button type="submit">i want to buy all of it</button>
        <p>xxxxxxxxxxxxxxxxxxxxx</p>
    </form>
<% }else{ %>
    <p>is empty :-( </p>
<% } %>



